.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    background-color: #222;
    color: #eee;
}

.sidebar.dark {
    background-color: #222;
    color: #eee;
}

.sidebar.light {
    background-color: #eee;
    color: #222;
}

.item {
    display: block;
    padding: 13px 30px;
    position: relative;
}

a.active {
    background-color: #9575CD;
}

.sidebar .title {
    text-transform: uppercase;
    margin-left: 2vw;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

.dark a.active {
    background-color: #9575CD;
}

.dark.sidebar .title {
    color: #ddd;
}

.light a.active {
    background-color: #9575CD;
}

.light.sidebar .title {
    color: #222;
}

/* Responsywność i collapsed na urządzeniach mobilnych */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .item {
        padding: 10px;
    }

    .sidebar .title {
        margin-left: 0;
        margin-bottom: 10px;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    .dark.sidebar .title {
        color: #eee;
    }

    .light.sidebar .title {
        color: #222;
    }
}